// to be refactored
$color-1 : #000;
$color-2 : #B58400;
$color-3 : #00CCFF;
$color-4 : #FFCC00;
$color-5 : #BC9AFF;
$color-6 : #0066FF;
$color-7 : #56C400;
$color-8 : #fff;
$color-9 : #FFFF99;
$color-10 : #D40612;
$color-11 : dimgrey;